init.author.name = Quoc Vu
init.author.email = darthvu@gmail.com
init.author.url = https://github.com/quocvu
init.license = MIT
init.version = 0.0.1
loglevel = http
registry = https://registry.npmjs.com
